p{
    color:blueviolet;
    font-size: 50px;
    text-align: center;
}
div{
    color: blue;
    font-size: 100px;
    text-align: end;
    border: 2px solid black;
}
.centered{
    text-align: center;
}

#left_text{
    text-align: left;

}

div > ol{
    font-size: 150px;
    color: black;
}