{% extends 'base.html' %}
{% block content %}
<h1 style="color: #007BFF;">INFO2000: Python and Data Visualization Course</h1>

<p style="line-height: 1.6; margin: 20px;">Welcome to the INFO2000 course, where you will dive into the world of Python programming and data visualization techniques. This course is designed to equip you with essential skills for data analysis and presentation.</p>

<div class="course-details" style="    margin-top: 20px;
background-color: #ffffff;
padding: 15px;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <h2>Course Details:</h2>
    <ul>
        <li><strong>Duration:</strong> 14 weeks</li>
        <li><strong>Topics Covered:</strong> Python basics, Data manipulation, Visualization with Matplotlib and Seaborn, web development and deployment</li>
        <li><strong>Prerequisites:</strong> A strong sense of curiosity</li>
        <li><strong>Instructor:</strong> Andrew Rukangu</li>
    </ul>
</div>

<div class="important-dates" style="    margin-top: 20px;
background-color: #ffffff;
padding: 15px;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <h2>Important Dates:</h2>
    <ul>
        <li><strong>Assignment 9 reflection:</strong> 20/11/2023</li>
        <li><strong>Mini Project2:</strong> 06/12/2023 (reading day)</li>
        <li><strong>Course evaluation :</strong> 13/12/2023 <a href="http://eval.franklin.uga.edu">eval.franklin.uga.edu</a></li>
    </ul>
</div>

<p style="line-height: 1.6; margin: 20px;">Thank you for taking part in this wonderful info2000 journey.</p>
{% endblock content %}